<% if @order.errors.any? %>
<h2>Please Follow instructions</h2>
<ul>
<% @order.errors.full_messages.each do |msg| %>
<li><%= msg %></li>
<% end %>
</ul>
<% end %>

<p>
<div class="well",>
  
<%= form_with scope: :order, url: orders_path  do |f| %>
  <b>Name</b><%= f.text_field :name %><br>
  <b>Phone Number</b><%= f.text_field :phone_number %><br>
  <b> Cake Quantity:</b><%= f.text_field :cake_size %><br>
 <b> Flavour: </b><%= f.text_field :flavour %><br>
 <b> Delivery/Pickup</b><%= f.text_field :delivery_or_pickup %><br>
 <b> Delivery Address</b><%= f.text_field :delivery_address %><br>
 <b> Delivery Phone number</b><%= f.text_field :d_phone_number %><br>
 <b> Amount</b><%= f.text_field :amount %><br>
 <b> Paid</b> <%= f.text_field :paid %><br>
 <b> Balance</b> <%= f.text_field :balance %><br>
 <b> Date </b><%= f.text_field :date %><br>
 <b> Time</b><%= f.text_field :time %><br>
 <b> Image </b><%= f.file_field :image %><br>
  <%= f.submit "Confirm order" %><br>
</p>
<% end %>


  
</div>
  
<p><%= link_to 'Cancel and Go back', root_path %></p>
